html,
body {
  padding: 0;
  margin: 0;
  background-color: azure;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(250, 254, 231), rgb(155, 255, 255));
}

button {
  border: none;
}

.swal-text {
  font-size: 24px;
}

.swal-title {
  font-size: 24px;
}

.swal-icon {
  font-size: 24px;
}

/* ------------------------------ HEADER ------------------------------ */

.header {
  position: fixed;
  padding: 3vh 7vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(15px);
  height: 13vh;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  z-index: 1000;
  box-sizing: border-box;
}

.navigatorBar {
  display: flex;
}

.navigatorBar button {
  margin: 0 10px 0 10px;
  padding: 1rem;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.headerButton:hover {
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 2px black;
}

/* ------------------------------ Login ------------------------------ */

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(250, 254, 231), rgb(155, 255, 255));
}

.loginContainer {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  padding: 4vw 6vw;
  border-radius: 3px;
  gap: 5vw;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px,
    rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px,
    rgba(240, 46, 170, 0.05) -25px 25px;
}

.loginContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 3vw;
}

.loginContainer button {
  width: 25vw;
  padding: 2vw;
  background-color: rgb(243, 180, 91);
  font-size: 1.6vw;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.loginContainer button:hover {
  background-color: rgb(244, 196, 130);
  transform: scale(1.05);
}

.loginContainer input {
  width: 30vw;
  padding: 1vw 1vw;
  font-size: 1.6vw;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}


/* ------------------------------ Contenido ------------------------------ */

.mainContent {
  padding: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 10vh;
}

.containerUsers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 0.5vw;
  margin: 0.5vw;
  height: 2.5vw;
  gap: 35vw;
  border: 1px solid black;
  font-size: 2vw;
}

.containerInfoUsers span:first-child {
  display: inline-block;
  width: 5vw;
  padding: 0vw 2vw;
  text-align: center;
}

.containerButtonsUser {
  display: flex;
  gap: 10px;
}

.buttonModifyUser {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 2vw;
}

.buttonDeleteUser {
  display: flex;
  align-items: center;
  background-color: red;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 2vw;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 2rem auto;
}

.formContainer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.formInsertContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
}

.formInsertContainer label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.formInsertContainer input,
.formInsertContainer select {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.formInsertContainer input:focus,
.formInsertContainer select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.formInsertContainer button {
  width: 100%;
  height: 6vh;
  background-color: rgb(243, 180, 91);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.formInsertContainer button:hover {
  background-color: rgb(244, 196, 130);
  transform: scale(1.05);
}

.table {
  width: 90%;
  margin: 2rem auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 1.5vw;
}

.table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tr:nth-child(even) {
  background-color: #e6e6e6;
}


@media (max-width: 600px) {}


@media (min-width: 601px) and (max-width: 1024px) {}


@media (min-width: 1025px) {}